services:
  rtmp:
    image: alfg/nginx-rtmp
    container_name: rtmp-server
    ports:
      - "1935:1935"
      - "8080:80"
    volumes:
      - ./docker/nginx-rtmp.conf:/etc/nginx/nginx.conf
      - ./hls:/hls
